<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Электронный дневник</title>
    <style type="text/css">
        html {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        body {
            margin: 0
        }

        article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
            display: block
        }

        audio, canvas, progress, video {
            display: inline-block;
            vertical-align: baseline
        }

        audio:not([controls]) {
            display: none;
            height: 0
        }

        [hidden], template {
            display: none
        }

        a {
            background-color: transparent
        }

        a:active, a:hover {
            outline: 0
        }

        abbr[title] {
            border-bottom: 1px dotted
        }

        b, strong {
            font-weight: bold
        }

        dfn {
            font-style: italic
        }

        h1 {
            font-size: 2em;
            margin: .67em 0
        }

        mark {
            background: #ff0;
            color: #000
        }

        small {
            font-size: 80%
        }

        sub, sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline
        }

        sup {
            top: -0.5em
        }

        sub {
            bottom: -0.25em
        }

        img {
            border: 0
        }

        svg:not(:root) {
            overflow: hidden
        }

        figure {
            margin: 1em 40px
        }

        hr {
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            height: 0
        }

        pre {
            overflow: auto
        }

        code, kbd, pre, samp {
            font-family: monospace, monospace;
            font-size: 1em
        }

        button, input, optgroup, select, textarea {
            color: inherit;
            font: inherit;
            margin: 0
        }

        button {
            overflow: visible
        }

        button, select {
            text-transform: none
        }

        button, html input[type="button"], input[type="reset"], input[type="submit"] {
            -webkit-appearance: button;
            cursor: pointer;
            outline: 0;
            border: 0
        }

        button[disabled], html input[disabled] {
            cursor: default
        }

        button::-moz-focus-inner, input::-moz-focus-inner {
            border: 0;
            padding: 0
        }

        input {
            line-height: normal
        }

        input[type="checkbox"], input[type="radio"] {
            box-sizing: border-box;
            padding: 0
        }

        input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
            height: auto
        }

        input[type="search"] {
            -webkit-appearance: textfield;
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box
        }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none
        }

        fieldset {
            border: 1px solid #c0c0c0;
            margin: 0 2px;
            padding: .35em .625em .75em
        }

        legend {
            border: 0;
            padding: 0
        }

        textarea {
            overflow: auto
        }

        optgroup {
            font-weight: bold
        }

        table {
            border-collapse: collapse;
            border-spacing: 0
        }

        td, th {
            padding: 0
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0
        }

        ul li {
            display: inline-flex;
            margin: 0;
            padding: 0
        }

        html, body {
            height: 100%
        }

        body p {
            color: #696969
        }

        body h1 {
            color: #616161
        }

        .cover {
            background: #121212;
            background-size: cover;
            display: table;
            width: 100%;
            height: 100%;
            min-height: 100%;
            text-align: center
        }

        .cover-inner {
            display: table-cell;
            vertical-align: middle
        }

        .inner {
            padding: 30px
        }

        header {
            margin: 0 auto;
            max-width: 800px
        }

        .text-white {
            color: #eee
        }

        .silver {
            color: silver
        }

        .silver:hover {
            color: black
        }

        .light-black {
            color: #616161
        }

        .black-bg {
            background: #121212
        }

        .light-black-bg {
            background: #262626
        }

        .dimgray-bg {
            background: DimGray
        }

        .silver-bg {
            background: silver
        }

        .white-bg {
            background: #eee
        }

        .headline {
            font: 500 35px "Segoe UI";
            letter-spacing: 1px;
            text-transform: uppercase
        }

        .muli {
            font: 400 20px/1.5 'Segoe UI';
            color: #999
        }

        .border-line {
            border-top: 2px solid #262626;
            margin: 15px auto;
            max-width: 350px
        }

        @media (min-width: 450px) {
            .headline {
                font-size: 70px
            }
        }</style>
</head>
<body>
<div class="cover">
    <div class="cover-inner">
        <div class="inner">
            <div class="border-line"></div>
            <h1 class="light-black headline">Страница не найдена</h1>
            <div class="border-line"></div>
            <p class="muli inner">В данный момент страница не была найдена.<br/>Please, coming soon...</p>
        </div>
    </div>
</div>
</body>
</html>