<header class="header">
    <div class="b-title-1">
        <span class="text">Электронный дневник</span>
    </div>
    <div class="b-title-2">
        <span class="text">Добавление группы</span>
    </div>
</header>

<nav class="navbar">
    <div class="b-navbar container">
        <ul class="menu-items">
            <li><a href="/info">Основное</a></li>
            <li><a href="/subjects">Предметы</a></li>
            <li><a href="/students">Учащиеся</a></li>
            <li><a href="/groups" class="active">Группы</a></li>
            <li><a href="/move" >Переводы</a></li>
        </ul>
        <div class="b-login">
            <a href="/setting" class="login">{{ session.get('login') }}</a>
            <a href="/logout" class="exit">Выход</a>
        </div>
    </div>
</nav>

<div class="main">
    <form method="post" action="/groups/add" class="form-edit-inf">
        <div class="b-errors">
            {% for message in form.getMessages() %}
                <span class="errors">{{ message.getMessage() }}</span>
            {% endfor %}

        </div>
        <label>Группа:</label>
        {{ form.render('name') }}
        <label>Вид:</label>
	    {{ form.render('sort') }}
        <label>Курс:</label>
	    {{ form.render('course') }}
        <div class="b-button button-custom button-edit-inf">
            <a href="/groups" class="link-back">« Назад</a>
            <button type="submit" class="button">Добавить</button>
        </div>
    </form>
</div>
