<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Электронный дневник</title>

    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/navmenu.min.js"></script>
    <script src="/js/jquery-1.8.2.min.js"></script>

</head>
<body class="b-page">

{{ content() }}

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<footer class="footer">
    <div class="container">
        <span class="text">© 2017, Филиал "БГТУ" "ВитГТК". Все права защищены.</span>
    </div>
</footer>

</body>
</html>